.btnNotFound {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 153px;
    height: 46px;
    border-radius: 16px;
    color: #ffffff;
    border: none;
    background-color: #3e85f3;
    margin: auto;
}

.wrappernotFound{
    text-align: center;
        padding: 264px 61px 246px;
}